extends layout
block title
	|  抽奖开始
block content_here
	-var bg = "/img/bg1.jpg",hidemain="",hidecm=hideother="display:none";
	-if (lots && lot.lottery != "none")
		-bg = "/img/bg2.jpg";
	-if (lots && lot.lottery == "cm")
		-hidecm="";hidemain=hideother="display:none";
	-if (lots && lot.lottery != "cm" && lot.lottery != "none")
		-hideother="";hidemain=hidecm="display:none";
	div.bg
		img#bg(src="#{bg}")
		//- img(src="/img/bg2.jpg")
	div.main(style="#{hidemain}") 
		div.model-list.clearfix
			-for(var i=0;i<3;i++)
				-var c = "",f="flip",fe="fliped";
				-if (lots && lot.lottery == "none" && lot.num == i+1)
					-c="很遗憾";f="fliped";fe="flip";
				div.item
					div.content
						div(class="#{f}") 
							img(src="/img/box.png")
						div(class="#{fe}")
							img(src="/img/box-b.png") 
							span #{c}
	
	div.cmpage(style="#{hidecm}")
		div.car
			img(src="/img/car.jpg")
		div.table
			form.form()
				div.input-group
					label 姓名
					input(type="text",name="username")
				div.input-group
					label 电话
					input(type="text",name="tel")
				div.input-group
					label 邮寄地址
					input(type="text",name="ads")
			div.btns
				div.submit
					img(src="/img/submit.png")
				div.back
					img(src="/img/back.png")

	div.otherpage(style="#{hideother}")
		div.card
			img(src="/img/card.jpg")
		div.context
			h2 恭喜您获得移动70M流量卡一张<br/>您获得的流量卡充值密码为:
			-var card = "";
			-if (lots && lot.lottery != "cm" && lot.lottery != "none")
				-card = lot.lottery;
			p#cardcode #{card}
			p (请复制充值卡密码以便充值)
block js_here
	script.
		var code = "#{code}";
		//- var _first = #{lots?false:true};
	script(src="/js/main.js")