xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[voice]]>
	MediaId <![CDATA[#{media_id}]]>
	Format <![CDATA[#{format}]]>
	MsgId #{msg_id}