xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[image]]>
	PicUrl <![CDATA[#{picurl}]]>
	MediaId <![CDATA[#{media_id}]]>
	MsgId #{msg_id}