xml
	ToUserName <![CDATA[#{toUser}]]>
	FromUserName <![CDATA[#{fromUser}]]>
	CreateTime #{date}
	MsgType <![CDATA[video]]>
	MediaId <![CDATA[#{media_id}]]>
	ThumbMediaId <![CDATA[thumb_media_id]]>
	MsgId #{msg_id}